@model PetFinder.Models.Pet
@{
    ViewData["Title"] = "Details";
}
<div class="card p-3 w-50 mx-auto">
    <div class="row">
        <div class="col">
            <img src="~/images/@(Model.ImageName)" asp-append-version="true" width="250px" height="250px" class="rounded"/>
        </div>
        <div class="col">
            <div class="row">
                <h2>@Model.Name</h2>
            </div>
            <div class="row">
                <dt>@Html.DisplayNameFor(m => m.PetType): </dt>
                <dd>@Html.DisplayFor(m => m.PetType.Name)</dd>
            </div>
            <div class="row">
                <dt>@Html.DisplayNameFor(m => m.Breed): </dt>
                <dd>@Html.DisplayFor(m => m.Breed.Name)</dd>
            </div>
            <div class="row">
                <dt>@Html.DisplayNameFor(m => m.Disability): </dt>
                <dd>@Html.DisplayFor(m => m.Disability)</dd>
            </div>
            <div class="row">
                <dt>Owner: </dt>
                <dd>@Html.DisplayFor(m => m.User.FirstName) @Html.DisplayFor(m => m.User.LastName)</dd>
            </div>
            <div class="row">
                <dt>Location: </dt>
                <dd>@Html.DisplayFor(m => m.User.City), @Html.DisplayFor(m => m.User.State)</dd>
            </div>
        </div>
    </div>
    <div class="row">
        <a asp-action="Index" class="btn btn-secondary m-3">Back to List</a>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary m-3">Edit</a>
    </div>
</div>
