@model PetFinder.Models.Pet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAdopted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAdopted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Breed.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFile)
        </dt>
        <dd class = "col-sm-10">
             <img src="~/images/@(Model.ImageFile.FileName)" asp-append-version="true" width="250px" height="250px"/>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
