@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<PetFinder.Models.Pet>
@{
    ViewData["Title"] = "Pets";
}
<h1 class="w-100 text-center">Available Pets</h1>
<div class="d-flex flex-row-reverse mb-3 mr-3">
    <form asp-controller="Pet" asp-action="Index" class="form-inline ">
        <input class="form-control" type="text" name="search" placeholder="Search by city..." />
        <input type="submit" class="btn btn-secondary" value="Search" />
    </form>
    @if (User.Identity.IsAuthenticated) {
        <a class="btn btn-primary mr-1" asp-action="Create">Add New Pet</a>
    }
</div>

@foreach (var pet in Model) {
    <div class="card bg-light p-3 mb-3 mx-auto w-75">
        <div class="row no-gutters">            
            <div class="col-md-4">
                <img class="card-img w-100 h-100" src="~/images/@(pet.ImageName)" asp-append-version="true">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@pet.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@pet.PetType.Name - @pet.Breed.Name | @pet.Disability</h6>
                    <p>Located in @pet.User.City, @pet.User.State and posted by @pet.User.FirstName @pet.User.LastName</p>
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@pet.Id">View Profile</a>
                </div>
            </div>
        </div>
    </div>
}